@font-face {
  font-family: 'Monument';
  src: url('../../fonts/MonumentExtended-Regular.otf');
  font-weight: 300;
  direction: rtl;
}
@font-face {
  font-family: 'Monument';
  src: url('../../fonts/MonumentExtended-Ultrabold.otf');
  font-weight: 500;
  direction: rtl;
}
